.dialogues {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogItems {
    padding: 20px;
}

.dialogItems .active {
    color: crimson;
}

.messages {
    padding: 20px;
}

.buttonBlock {
    margin-top: 10px;
}

.textareaBlock {
    margin-top: 10px;
    width: 200px;
    height: 50px;
}